.benefitsContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  background: rgb(26, 24, 38);
  background: linear-gradient(
    0deg,
    rgba(26, 24, 38, 1) 0%,
    rgba(65, 59, 94, 1) 100%
  );
  padding-bottom: 200px;
}

.benefits {
  font-size: 2em;
  text-align: center;
}

.benefitsList {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.benefit {
  font-size: 1.2em;
  padding-top: 50px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.benefit p {
  font-size: 1em;
  padding-right: 10px;
}
