.container {
  padding-bottom: 200px;
  width: 100%;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(26, 24, 38);
  background: linear-gradient(
    0deg,
    rgba(26, 24, 38, 1) 0%,
    rgba(65, 59, 94, 1) 100%
  );
}

.text {
  justify-self: center;
  display: flex;
  font-size: 2.5em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.webImage {
  width: 298px;
  height: 193px;
  align-self: center;
  border-radius: 5px;
}

@media (min-width: 800px) {
  .webImage {
    width: 596px;
    height: 386px;
  }
}
